[Unit]
Description=Ndctl Monitor Daemon

[Service]
Type=forking
ExecStart=/usr/bin/ndctl monitor --daemon
ExecStop=/bin/kill ${MAINPID}

[Install]
WantedBy=multi-user.target
