*.o
*.xml
.deps/
.libs/
Makefile
!contrib/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
*.1
Documentation/daxctl/asciidoc.conf
Documentation/ndctl/asciidoc.conf
.dirstamp
daxctl/daxctl
daxctl/lib/libdaxctl.la
daxctl/lib/libdaxctl.lo
daxctl/lib/libdaxctl.pc
*.a
ndctl/lib/libndctl.pc
ndctl/ndctl
rhel/
sles/ndctl.spec
util/log.lo
util/sysfs.lo
version.m4
*.swp
cscope.files
cscope*.out
tags
