*.o
*.lo
*.xml
.deps/
.libs/
Makefile
!contrib/Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/stamp-h1
*.1
*.3
Documentation/daxctl/asciidoc.conf
Documentation/ndctl/asciidoc.conf
Documentation/cxl/asciidoc.conf
Documentation/cxl/lib/asciidoc.conf
Documentation/daxctl/asciidoctor-extensions.rb
Documentation/ndctl/asciidoctor-extensions.rb
Documentation/cxl/asciidoctor-extensions.rb
Documentation/cxl/lib/asciidoctor-extensions.rb
Documentation/ndctl/attrs.adoc
.dirstamp
daxctl/config.h
daxctl/daxctl
daxctl/lib/libdaxctl.la
daxctl/lib/libdaxctl.pc
*.a
ndctl/config.h
ndctl/lib/libndctl.pc
ndctl/ndctl
rhel/
sles/ndctl.spec
version.m4
*.swp
cscope.files
cscope*.out
tags
test/*.log
test/*.trs
test/blk-ns
test/dax-dev
test/dax-errors
test/dax-pmd
test/daxdev-errors
test/device-dax
test/dpa-alloc
test/dsm-fail
test/hugetlb
test/image
test/libndctl
test/mmap
test/multi-pmem
test/parent-uuid
test/pmem-ns
test/smart-listen
test/smart-notify
test/fio.job
test/local-write-0-verify.state
test/ack-shutdown-count-set
test/list-smart-dimm
